<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--//*Attributes:
    * Original code link: https://codingwitht.com/create-a-navigation-drawer-material-design-in-android-studio-tutorial
    * creator: CodingwithT
    *changes: I used his navigation.drawer code throughtout layouts
    ///////////////////
    * Attributes:
    * Original code link: https://www.youtube.com/watch?v=1N25p7HigvE&list=PL0Mb_G0vinrrwAdA0kzBiJ_prHZ6TPQHs
    * creator: Fichy
    *changes: I used his cardview code throughtout layouts with adjustments for the buttons.ect
    //////////////////
    * Attributes:
    * Original code link: https://www.youtube.com/watch?v=0Na_oI9Oclo&list=PLzZEuVaFb9ExqUwxMoXg0Li0wYW2IeAkz
    * creator: Land of coding
    *changes: I used his cart logic code throughtout the cart.kt and cartManager.kt with adjustments from the @/id and logic of discount amout
    //////////////////
    * Attributes:
    * Original code link: https://www.youtube.com/@PhilippLackner
    * creator: Philipp Lackner
    *changes: I used his vast knowledge on how to implement design on .xml files and how to use backend-code throughtout layouts.
    *-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WILSummativeProjectApp">
        <!--Courses Avtivities-->
        <activity
            android:name=".FirstAid"
            android:exported="false"
            android:parentActivityName=".Course" />
        <activity
            android:name=".Sewing"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <activity
            android:name=".Landscaping"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <activity
            android:name=".LifeSkills"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <activity
            android:name=".GardenMaintenance"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <activity
            android:name=".ChildMinding"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <activity
            android:name=".CookingCourse"
            android:exported="false"
            android:parentActivityName=".Course"/>
        <!--Main activities-->
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Course"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false"
            android:parentActivityName=".Course"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>